.htaccess
._*
.Apple*
.DS_Store
*.esproj
*~
*.geany
*.sublime-project
*.sublime-workspace
install-log.txt
manifest/cache/*
manifest/logs/*
manifest/tmp/*
manifest/subsectionmanager-storage
workspace/uploads